<% var title = "TOP"; var description = "トップのdescription"; %>
<!-- .l-header -->
<% include src/ejs/template/_head %>

<!-- .l-main -->
<main class="l-main">
  <!-- .p-menu -->
  <nav class="p-menu">
    <div class="p-menu__box">
      <ul class="p-menu__list">
        <li class="p-menu__item"><a href="#" class="p-menu__stay">TOP</a></li>
        <li class="p-menu__item"><a href="#">ZAKKA</a></li>
        <li class="p-menu__item"><a href="#">FURNITURE</a></li>
        <li class="p-menu__item"><a href="#">CAFE</a></li>
        <li class="p-menu__item"><a href="#">WORK SHOP</a></li>
        <li class="p-menu__item"><a href="#">ACCESS</a></li>
        <li class="p-menu__item"><a href="#">BLOG</a></li>
        <li class="p-menu__item"><a href="#">Lilium HOME</a></li>
      </ul>
    </div>
    <div class="c-menuBtn">
      <span class="c-menuBtn__bar"></span>
      <span class="c-menuBtn__bar"></span>
      <span class="c-menuBtn__bar"></span>
      <span class="c-menuBtn__text"></span>
    </div>
  </nav>

  <div class="l-main__container">
    <p class="p-scroll">scroll down</p>

    <div class="p-carousel">
      <ul class="p-carousel__list">
        <li class="p-carousel__item">
          <a href="#" class="p-carousel__link"><div class="p-carousel__image"></div></a>
        </li>
        <li class="p-carousel__item">
          <a href="#" class="p-carousel__link"><div class="p-carousel__image"></div></a>
        </li>
        <li class="p-carousel__item">
          <a href="#" class="p-carousel__link"><div class="p-carousel__image"></div></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <li class="p-carousel__item">
    <a href="#"><img class="p-carousel__pc u-hidden-sp" src="assets/images/carousel_01.png" alt="カフェ" /> <img class="p-carousel__sp u-hidden-pc" src="assets/images/carousel_03.png" alt="カフェ" /></a>
  </li>
  <li class="p-carousel__item">
    <a href="#"><img class="p-carousel__pc u-hidden-sp" src="assets/images/carousel_02.png" alt="カフェ" /> <img class="p-carousel__sp u-hidden-pc" src="assets/images/carousel_03.png" alt="カフェ" /></a>
  </li> -->

  <div class="l-main__content">
    <!-- .p-news -->
    <article class="p-news">
      <div class="p-news__box">
        <p class="p-news__title">NEWS</p>
        <a href="#" class="p-news__content">
          <span class="p-news__date">2024.07.01</span>
          <span class="p-news__text">ブログ更新しました</span>
        </a>
      </div>
    </article>

    <!-- .p-banner -->
    <div class="p-banner">
      <ul class="p-banner__list">
        <li class="p-banner__item">
          <a href="#"><img src="assets/images/bnr_01.png" alt="家づくり" /></a>
        </li>
        <li class="p-banner__item">
          <a href="#"><img src="assets/images/bnr_02.png" alt="スタッフ募集" /></a>
        </li>
      </ul>
    </div>

    <!-- .p-category -->
    <section class="p-category">
      <div class="p-category__wrap">
        <!-- ABOUT -->
        <div class="p-category__container p-category__container--top u-pr-10">
          <div class="p-category__box">
            <h2 class="c-title">ABOUT</h2>
            <div class="p-category__content">
              <p class="p-category__text p-category__description">
                Liliumは、心と体を癒す空間を提供します。<br />
                専門のバリスタが淹れる香り高いコーヒーや、軽食をお楽しみいただけます。<br />
                また、様々な雑貨も販売しており、訪れるたびに新しい発見があります。<br />
                さらに、住まいの提案として、インテリアコンサルティング等も提供しています。<br />
                Liliumで特別なひとときをお過ごしください。<br />
                スタッフ一同、心よりお待ちしております。
              </p>
            </div>
          </div>
        </div>

        <!-- ZAKKA -->
        <div class="p-category__container p-category__container--left u-pl-10">
          <div class="p-category__content">
            <div class="p-category__zakka">
              <img src="assets/images/category_01.jpg" alt="ABOUT" />
            </div>
            <h2 class="c-title u-mt-130 u-mt-40">ZAKKA</h2>
            <div class="p-category__text">
              <p class="p-category__description">おしゃれで使いやすい雑貨を取り揃え、暮らしを豊かにします。</p>
              <a href="#" class="c-more">more</a>
            </div>
          </div>
        </div>

        <!-- FURNITURE -->
        <div class="p-category__container p-category__container--right">
          <div class="p-category__content">
            <div class="p-category__furniture">
              <img src="assets/images/category_02.png" alt="FURNITURE" />
            </div>
            <h2 class="c-title u-mt-130 u-mt-40">FURNITURE</h2>
            <div class="p-category__text">
              <p class="p-category__description">スタイリッシュな家具を豊富に取り揃えています。</p>
              <a href="#" class="c-more">more</a>
            </div>
          </div>
        </div>

        <!-- CAFE -->
        <div class="p-category__container p-category__container--left">
          <div class="p-category__container">
            <div class="p-category__content">
              <div class="p-category__cafe">
                <img src="assets/images/category_03.jpg" alt="CAFE" />
              </div>
              <div class="u-pl-10">
                <h2 class="c-title u-mt-130 u-mt-40">CAFE</h2>
                <div class="p-category__text">
                  <p class="p-category__description">心安らぐカフェ。</p>
                  <a href="#" class="c-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- HOUSE -->
        <div class="p-category__container p-category__container--right u-pr-10">
          <div class="p-category__container">
            <div class="p-category__content">
              <div class="p-category__house">
                <img src="assets/images/category_04.png" alt="HOUSE" />
              </div>
              <h2 class="c-title u-mt-130 u-mt-40">HOUSE</h2>
              <div class="p-category__text">
                <p class="p-category__description">
                  洗練されたインテリアと厳選された雑貨で彩る日々。<br />
                  そんな理想を実現するLiliumは、あなただけの為のオーダーメイド住宅を提供します。
                </p>
                <a href="#" class="c-more">more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- .p-blog -->
    <section class="p-blog">
      <div class="p-blog__inner">
        <div class="p-blog__top">
          <h2 class="c-title c-title--noline">BLOG</h2>
        </div>
        <ul class="p-blog__list"></ul>

        <script>
          const blogList = document.getElementsByClassName('p-blog__list')[0]

          const blogData = [
            {
              image: 'assets/images/blog_01.png',
              date: 'POSTED / 2024.07.03',
              category: 'CAFE',
              shop: 'SINJYUKU',
              title: 'リラックスタイム◌̥*',
              text: 'こんにちは☺︎ Lilium新宿店です！ 暑い季節にぴったりのアイスカフェオレ...',
            },
            {
              image: 'assets/images/blog_02.png',
              date: 'POSTED / 2024.07.02',
              category: 'ZAKKA',
              shop: 'DAIKANYAMA',
              title: '夏のおしゃれアイテム☀︎',
              text: 'こんにちは、Lilium代官山店です☺︎ 軽やかで涼しげな麦わら帽子は夏の...',
            },
            {
              image: 'assets/images/blog_03.png',
              date: 'POSTED / 2024.07.01',
              category: 'FURNITURE',
              shop: 'ROPPONGI',
              title: 'インテリアに彩りを*☽:ﾟ',
              text: 'こんにちは、Lilium六本木店です！ ランプはインテリアの重要な要素であり...',
            },
          ]

          blogData.forEach((item) => {
            const blogItem = document.createElement('li')
            blogItem.className = 'p-blog__item'

            blogItem.innerHTML = `
<div class="p-blog__thumb">
             <div class="p-blog__image" style="background-image: url('${item.image}');">
        </div>
        </div>
            <div class="p-blog__content">
              <div class="p-blog__box">
                <p class="p-blog__date">${item.date}</p>
                <p class="p-blog__label">${item.category}</p>
                <p class="p-blog__label">${item.shop}</p>
                </div>
                <a href="#"><h3 class="p-blog__title">${item.title}</h3></a>
                <p class="p-blog__text">${item.text}</p>
            </div>
            `

            blogList.appendChild(blogItem)
          })
        </script>

        <a href="#" class="c-more c-more--colimn">more</a>
      </div>
    </section>
  </div>
</main>

<!-- .l-footer -->
<% include src/ejs/template/_footer %>

<!-- <div class="p-blog__image">
  <img src="${item.image}" alt="${item.alt}" />
</div> -->
