.p-carousel {
  width: 85%;

  &__item {
    position: relative;
    height: calc(100vh - 362px - 75px);
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__first {
    background-image: url('../images/carousel_01.png');
  }

  &__second {
    background-image: url('../images/carousel_02.png');
  }

  &__third {
    background-image: url('../images/carousel_03.png');
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: -50px;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 18px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: #b0aca8;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  line-height: 0;
  font-size: 0px;
  padding: 0;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: #040000;
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .p-carousel {
    &__item {
      min-height: 250px;
    }
  }
}
