@mixin mq($breakpoint) {
  @if $breakpoint == u-sp {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == u-pc {
    @media (min-width: 769px) {
      @content;
    }
  }
}

.u-hidden {
  display: none !important;
}
.u-hidden-sp {
  @include mq(u-sp) {
    display: none !important;
  }
}
.u-hidden-pc {
  @include mq(u-pc) {
    display: none !important;
  }
}

.u-mt-130 {
  margin-top: 130px;
}

@media screen and (max-width: 768px) {
  .u-mt-40 {
    margin-top: 40px !important;
  }
}

.u-pr-10 {
  padding-right: 10vw !important;
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .u-pr-10 {
    padding-right: 0 !important;
  }
}

.u-pl-10 {
  padding-left: 10vw !important;
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .u-pl-10 {
    padding-left: 0 !important;
  }
}
