@mixin mq($breakpoint) {
  @if $breakpoint == u-sp {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == u-pc {
    @media (min-width: 769px) {
      @content;
    }
  }
}

.u-hidden {
  display: none !important;
}
.u-hidden-sp {
  @include mq(u-sp) {
    display: none !important;
  }
}
.u-hidden-pc {
  @include mq(u-pc) {
    display: none !important;
  }
}

.u-opacity-1 {
  opacity: 1 !important;
}

.u-mt-130 {
  margin-top: 130px;
}

@media screen and (max-width: 768px) {
  .u-mt-40 {
    margin-top: 40px !important;
  }
}
